@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 9 9 11;
}

.dark {
  --background: 9 9 11;
  --foreground: 250 250 250;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}